{{#if news}}
  <h5 class="card-title">{{news.title}}</h5>
  <h6 class="card-subtitle mb-2 text-muted">Автор: {{news.author}}</h6>
  <div class="row">
    <div class="col-lg-3">
      <img src='http://localhost:3000{{news.cover}}' class="card-img-top" style="height: 100%; object-fit: cover;" alt=''>
    </div>
    <div class="col-lg-6">
      <p class="card-text">{{news.description}}</p>
    </div>
  </div>
  <h1>Создание комментариев</h1>
<form method="post" action="/comments/api/{{news.id}}" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="authorInput" class="form-label">Автор</label>
    <input class="form-control" name="author" id="authorInput">
  </div>
  <div class="mb-3">
    <label for="messageInput" class="form-label">Сообщение</label>
    <textarea class="form-control" name="message" id="messageInput" rows="3"></textarea>
  </div>
  <div class="form-group mb-3">
    <label for="cover">Аватар</label>
    <input type="file" class="form-control-file" name="avatar" id="avatar">
  </div>
  {{!-- <input type="submit" value="Создать"> --}}
  <button type="button" class="btn btn-primary" onclick='sendForm({{news.id}})'>Оставить комментарий</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0, 10);
  })

  function sendForm(id) {
    var data = new FormData($('form')[0]);
    $.ajax({
      url: `/comments/api/${id}`,
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      method: 'POST',
      success: function() {
        window.location.pathname = `news/view/${id}/detail`
      }
    });
  }
</script>
  {{#if comments}}
    <h1>Коментарии</h1> 
    <div class="row">
    {{#each comments}}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="{{#if this.avatar}}{{this.avatar}}{{else}}https://apsec.iafor.org/wp-content/uploads/sites/37/2017/02/IAFOR-Blank-Avatar-Image.jpg{{/if}}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{this.user.firstName}}</h6>
              <p class="mb-0 opacity-75">{{this.message}}</p>
            </div>
            <small class="opacity-50 text-nowrap">now</small>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
  {{else}}
    <h1>Эта новость еще не получила комментариев</h1>
  {{/if}}
{{/if}}