{{#if news}}
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <img src='http://localhost:3000{{news.cover}}' class="card-img-top" style="height: 200px; object-fit: cover;" alt=''>
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Автор: {{news.author}}</h6>
          <p class="card-text">{{news.description}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <h1>Список новостей пуст!</h1>
{{/if}}
{{#if comments}}
<h1>Коментарии</h1> 
  <div class="row">
    {{#each comments}}
    <div class="col-lg-6">
      <div class="card">
        <img src='http://localhost:3000{{this.avatar}}' class="card-img-top" style="height: 200px; object-fit: cover;" alt=''>
        <div class="card-body">
          <h5 class="card-title">{{this.author}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Сообщение: {{this.message}}</h6>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
{{else}}
  <h1>Эта новость еще не получила комментариев</h1>
{{/if}}